{% extends "layouts/app.html" %}
{% from "components/navigation/breadcrumb.html" import breadcrumb %}

{% block title %}Profile{% endblock %}

{% block breadcrumb %}{{ breadcrumb([("Home", url_for("home.index")), ("Profile", None)]) }}{% endblock %}
{% block page_title %}Profile{% endblock %}

{% block content %}
<div class="settings">
  {% include "pages/accounts/profile/_account.html" %}
  {% include "pages/accounts/profile/_password.html" %}
  {% include "pages/accounts/profile/_recovery_code.html" %}
  {% include "pages/accounts/profile/_preferences.html" %}
  {% include "pages/accounts/profile/_sending_safety.html" %}
</div>
{% endblock %}

{% block page_scripts %}
<script type="module" src="{{ url_for('static', filename='js/pages/profile.js') }}"></script>
{% endblock %}
