{% extends "layouts/app.html" %}
{% from "components/navigation/action_bar.html" import action_bar %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/home.css') }}">
{% endblock %}

{% block title %}Home{% endblock %}
{% block page_title %}Home{% endblock %}

{% block actions %}
{% call action_bar() %}
<a class="button button--primary" href="{{ url_for('classes.new_class') }}">{{ icon("add") }}New class</a>
{% endcall %}
{% endblock %}

{% block content %}
{% if summary.classes %}{% include "pages/academics/home/_tiles.html" %}{% endif %}
<div class="home-layout">
  {% if summary.classes %}
  {% include "pages/academics/home/_classes.html" %}
  {% else %}
  {% include "pages/academics/home/_first_run.html" %}
  {% endif %}
  {% include "pages/academics/home/_related.html" %}
</div>
{% endblock %}
