{% extends "layouts/app.html" %}
{% from "components/forms/error_summary.html" import error_summary %}
{% from "components/forms/field.html" import password_field %}

{% block title %}Confirm your password{% endblock %}
{% block page_title %}Confirm your password{% endblock %}
{% block page_meta %}Needed before changing another account. It lasts 15 minutes.{% endblock %}

{% block content %}
<div class="form-panel">
  {{ error_summary(form, first_field=form.password) }}
  <form class="form-stack" method="post" novalidate>
    {{ form.hidden_tag() }}
    {{ password_field(form.password, autocomplete="current-password") }}
    <div class="form-panel__actions">
      <button class="button button--primary" type="submit">Confirm</button>
      <a class="button button--subtle" href="{{ back }}">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}

{% block page_scripts %}
<script type="module" src="{{ url_for('static', filename='js/pages/auth.js') }}"></script>
{% endblock %}
